---
vagrant_synced_folders:
  - local_path: .
    destination: /var/www/drupalvm
    type: nfs
    create: true
  - local_path: ~/www/cat
    destination: /var/www/drupalvm/drupal/web
    type: nfs

drupal_build_composer_project: false
drupal_install_site: false

installed_extras:
  - adminer
# - blackfire
# - mailhog
  - pimpmylog
  - redis
# - tideways

php_version: "7.3"
php_memory_limit: "160M"

post_provision_tasks_dir: "../post-provision.yml"

mysql_packages:
  - mariadb-client
  - mariadb-server
  - python-mysqldb
